<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Dashborad</title>

    <link rel="stylesheet" href="/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/vendor.bundle.base.css">


    <link rel="stylesheet" href="/css/dataTables.bootstrap4.css">
 
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.png" />
    <style type="text/css">
    .page-body-wrapper{
    padding-top: 0;
    }
    .border-bl{
      border: 1px solid #e0e3e4 !important;
    }
    </style>
      <script src="/js/jquery.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>


var oldNoticeCount = 0;
var newNoticeCount = 0;
 
var  cls = JSON.parse('<%- JSON.stringify(notices) %>');
cls.forEach( function(notice) {
   oldNoticeCount++;
});


  setInterval(async function(){
    
     var sdsdfds = await   $.ajax({
  url : '/user/notices/all',
  type : 'GET',
  success : function(result){

newNoticeCount = 0;
$('.notifications').empty()

result.forEach(function(notice) {

    newNoticeCount++;
var tempNotice  =  `<a href="/user/notice/${notice._id}" class="dropdown-item">
                <div class="item-thumbnail">
                  <div class="item-icon bg-warning">
                    <i class="mdi mdi-settings mx-0"></i>
                  </div>
                </div>
                <div class="item-content">
                  <h6 class="font-weight-normal">${notice.notice.substring(0,25)}...</h6>
                </div>
              </a>`;
$(".notifications").append(tempNotice)
 
});
 



  },
  error : function(result, status, error){
  console.log("something went wrong");
  }
    });

// snack love athlete world result awkward forward plunge scorpion grape near door box doll vanish adapt gun result more riot witness play leisure flush


 



if(oldNoticeCount !== newNoticeCount &&  newNoticeCount > oldNoticeCount){
  oldNoticeCount = newNoticeCount;
    $("#newNoticeCount").show()
}
 

  },5000)
</script>



  </head>
  <body> 
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex justify-content-center">
          <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
            <a class="navbar-brand brand-logo" href="index.html"><i class="fa fa-graduation-cap"></i> NGHS</a>
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-sort-variant"></span>
            </button>
          </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown mr-1">
              <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
                <i class="mdi mdi-message-text mx-0"></i>
                <span class="count" style="display: none;"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="messageDropdown">
                <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                <a class="dropdown-item">
                  <div class="item-thumbnail">
                    <img src="https://image.flaticon.com/icons/png/512/1077/1077114.png" alt="image" class="profile-pic">
                  </div>
                  <div class="item-content flex-grow">
                    <h6 class="ellipsis font-weight-normal">David Grey
                    </h6>
                    <p class="font-weight-light small-text text-muted mb-0">
                      The meeting is cancelled
                    </p>
                  </div>
                </a>
                <a class="dropdown-item">
                  <div class="item-thumbnail">
                    <img src="https://image.flaticon.com/icons/png/512/1077/1077114.png" alt="image" class="profile-pic">
                  </div>
                  <div class="item-content flex-grow">
                    <h6 class="ellipsis font-weight-normal">Tim Cook
                    </h6>
                    <p class="font-weight-light small-text text-muted mb-0">
                      New product launch
                    </p>
                  </div>
                </a>
                <a class="dropdown-item">
                  <div class="item-thumbnail">
                    <img src="https://image.flaticon.com/icons/png/512/1077/1077114.png" alt="image" class="profile-pic">
                  </div>
                  <div class="item-content flex-grow">
                    <h6 class="ellipsis font-weight-normal"> Johnson
                    </h6>
                    <p class="font-weight-light small-text text-muted mb-0">
                      Upcoming board meeting
                    </p>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item dropdown mr-4">
              <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown" id="notificationDropdown" href="#" data-toggle="dropdown">
                <i class="mdi mdi-bell mx-0"></i>
                <span class="count" id="newNoticeCount"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown notification-container" aria-labelledby="notificationDropdown">
                <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>

                <div class="notifications">
                

                <% if (notices) { %>
                  
                <% notices.forEach( function(notice) { %>



             <% if (  notice.class === user.class && notice.section === user.section  || notice.notice_type === "normal") { %>
              <a href="/user/notice/<%= notice._id %>  " class="dropdown-item">
                <div class="item-thumbnail">
                  <div class="item-icon bg-warning">
                    <i class="mdi mdi-settings mx-0"></i>
                  </div>
                </div>
                <div class="item-content">
                  <h6 class="font-weight-normal"><%= notice.notice.substring(0,25); %>...</h6>
                </div>
              </a>
              <% } %>
                
             
                <% }); %>
                   <% } %>
                </div>
              </div>
            </li>
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                <img src="https://image.flaticon.com/icons/png/512/1077/1077114.png" alt="profile"/>
                <span class="nav-profile-name"><%- user.username %></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="/user/profile">
                  <i class="mdi mdi-settings text-primary"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="/logout">
                  <i class="mdi mdi-logout text-primary"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      
      <script>
        $("#newNoticeCount").hide()
      </script>