<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> <%- title %></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
    <a class="navbar-brand" href="/"><i class="fa fa-graduation-cap"></i> NGHS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <% if(!currenUser){ %>
             <li class="nav-item">
               <a class="nav-link" href="/register">Sign up</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/login">Login</a>
             </li>
        <%}else{ %>

        <% if (currenUser.isAdmin) { %>
             <li class="nav-item">
               <a class="nav-link" href="/admin">Dashboard</a>
             </li>
     
               </li>
             <li class="nav-item">
               <a class="nav-link" href="/sendmail">Send a mail</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/logout">Logout</a>
        <% }else{ %>
            
            <% if (currenUser.isAuthor) { %>
                 <li class="nav-item">
                    <a class="nav-link" href="/author/dashboard">Dashboard</a>
                
                  </li>
                     <li class="nav-item">
                    <a class="nav-link" href="/sendmail">Send a mail</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
             <% }else{ %>
                  <li class="nav-item">
                    <a class="nav-link" href="/user/dashboard">Dashboard</a>
                
                  </li>
                     <li class="nav-item">
                    <a class="nav-link" href="/sendmail">Send a mail</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>

          <% } %>

        <% } %>
        
         
         <% } %>

      </ul>
    </div>
</div>
</div>
</nav>