<div class="container-fluid page-body-wrapper">
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/user/dashboard">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/liveclasses">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Live Classes</span>
        </a>
      </li>
    </ul>
  </nav>