<%- include("../partials/header") -%>

<div class="container">
   <div class="img-thumbnail mt-5">
	<div class="text-center">
		<h1 class="title">Error 404</h1>
		<p>Something is wrong.</p>
		<hr>
	 </div>
	 <div>
	 <ul class="d-grid-3">
	 <li class="h6">Please check your Internet Connection</li>
	 <li class="h6">Try again letter</li>
	 <li class="h6">If you are the owner than check your server</li>
	 </ul>
	 </div>
	</div>
</div>
<%- include("../partials/footer") -%>

	