<%- include("../partials/header-user") -%>
<div class="container-fluid page-body-wrapper">
  <!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/author/dashboard">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/author/exam/new">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Create new Test</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <p class="card-title text-center">Create a New Test</p>
        <form action="/new-test" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="question-title">Title</label>
            <input type="text" name="question_title" value="<%= test.question_title %>" id="question-title" class="form-control"  style="border: 1px solid #ced4da !important;">
          </div>
          <div class="form-group">
            <label for="subject">Class</label>
            <div class="input-group mb-3">
              <select class="custom-select" name="class" id="dsfafds234214" onchange="hideSub()">
                <option selected>Choose...</option>
                <option value="6">Six</option>
                <option value="7">Seven</option>
                <option value="8">Eight</option>
                <option value="9">Nine</option>
                <option value="10">Ten</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="subject">Section</label>
            <div class="input-group mb-3">
              <select class="custom-select" name="section">
                <option selected>Choose...</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="ALL">ALL</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="subject">Subject</label>
            <div class="input-group mb-3">
              <select class="custom-select" name="subject" id="inputGroupSelect01" onchange="sc();">
                <option selected>Choose...</option>
                <option value="1">Bangla</option>
                <option value="2">English</option>
                <option value="3">Math</option>
                <option value="4">Higher Math</option>
                <option value="5">Biology</option>
                <option value="6">Chemistry</option>
                <option value="7">Phisics</option>
                <option value="8">ICT</option>
              </select>
            </div>
          </div>
          <div class="upload-question">
            <label for="Question">Upload Question (jpg, jpeg, png)</label><div id="uploadStatus"></div>
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input"  id="upload-img-question" accept="image/*" aria-describedby="inputGroupFileAddon01">
                <input type="text" id="base64String" name="question_img" style="display: none;">
                <label class="custom-file-label" for="upload-img-question">Choose file</label>
              </div>
            </div>
          </div>
          <div class="write-question">
            <label for="Question">Question</label>
            <div class="form-group" >
              <textarea class="form-control" name="question_description" style="border: 1px solid #ced4da !important;" cols="30" rows="30" placeholder="Type your question here" >value="<%= test.question_description %>" </textarea>
            </div>
          </div>
          <input type="submit" class="btn btn-primary" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$('.upload-question').hide()
// $('.write-question').hide()
function sc(){
var sel = document.getElementById("inputGroupSelect01").value;

if(sel == 3 || sel == 4){
$('.upload-question').show()
$('.write-question').hide()
console.log("Sdfasffffffffffffff")
}else {
$('.img-upload').hide()
$('.upload-question').hide()
$('.write-question').show()
}
}
</script>
<script>
$(document).ready(function(){
$('input#upload-img-question').change(function(e){
var fileName = e.target.files[0].name;
$(".custom-file-label").text(fileName);
});
});
</script>

<script>
function readURL3(input) {
if (input.files && input.files[0]) {
var reader = new FileReader();
reader.onload = function(e) {
document.getElementById("base64String").value = e.target.result;
}
reader.readAsDataURL(input.files[0]); // convert to base64 string
}
}
$("#upload-img-question").change(function() {
readURL3(this);
});
</script>

<script>
function hideSub(){
var c = Number(document.getElementById("dsfafds234214").value);

if(c === 6 || c === 7 || c === 8){
$("#inputGroupSelect01 option[value='4'],#inputGroupSelect01 option[value='5'],#inputGroupSelect01 option[value='6'],#inputGroupSelect01 option[value='7']").hide();
}else {
$("#inputGroupSelect01 option[value='4'],#inputGroupSelect01 option[value='5'],#inputGroupSelect01 option[value='6'],#inputGroupSelect01 option[value='7']").show();
}
}

</script>
   
          <%- include("../partials/footer-user") -%> 