<%- include("../partials/header") -%>


	<form action="/mail" method="POST">
	<div class="container mt-5">
	<div class="row">
	<div class="col-md-4 m-auto d-grid gap-3">
    <div class="form-group" >
	   <input type="text" class="form-control m-auto" placeholder="Email" name="email">
	   </div>
	   <div class="form-group" >
	   <input type="text" class="form-control" placeholder="Subject" name="sub">
	   </div>
	    <div class="form-group" >
	   <!-- <input type="text" class="form-control" placeholder="Message" name="mes"> -->
	   <textarea name="mes"  class="form-control"  cols="30" rows="5" placeholder="Message" ></textarea>
	   </div>
	   <input type="submit" value="SENT" class="btn btn-primary">
	</div>
	</div>
       

	</div>
	</form>


<%- include("../partials/footer") -%>
