<%- include("../partials/header-user") -%>
<div class="container-fluid page-body-wrapper">
	<!-- partial:partials/_sidebar.html -->
	<nav class="sidebar sidebar-offcanvas" id="sidebar">
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" href="/user/dashboard">
					<i class="mdi mdi-home menu-icon"></i>
					<span class="menu-title">Dashboard</span>
				</a>
			</li>
		</ul>
	</nav>
	<!-- partial -->
	<div class="main-panel">
		<div class="content-wrapper">
			<div class="row">
				<div class="col-md-12 stretch-card">
					<div class="card">
						<div class="card-body">
							<p class="card-title text-center">ubmi Test</p>
						
						
							<div class="card" style="width: 18rem;">
								<img src="https://static9.depositphotos.com/1074452/1122/i/950/depositphotos_11222511-stock-photo-passed-stamp-shows-quality-control.jpg" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									<a href="#" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>		
							<div class="card" style="width: 18rem;">
								<img src="https://cdn.w600.comps.canstockphoto.com/failed-grunge-round-red-seal-stock-illustrations_csp16522950.jpg" alt="...">
								<div class="card-body">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									<a href="#" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
							


 
						</div>
					</div>
				</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<%- include("../partials/footer-user") -%>