<%- include("../partials/header") -%>

<form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="target_file" required>
            <input type="submit" value="Upload">
</form>

<%- include("../partials/footer") -%>