/*.notifications{

}
li.show .notifications .show{
    overflow-y: scroll !important;
	height: 250px;
	display: flex !important;
   flex-direction: column-reverse !important;
}
*/

.dropdown-menu.notification-container.show {
	overflow-y: scroll;
	height:300px;
	 display: flex;
    flex-direction: column;

}
.notifications {
  /*overflow: scroll;*/
  /*overflow-x: hidden;*/
  display: flex !important;
  flex-direction: column-reverse !important;
}
.showResult,.give_number {
    width: 93%;
    height: auto; 
    top: 30%;
    transform: translateY(-220px);
    box-shadow: 1px 1px 44px 11px #0202029e;
    background-color: white;
}
.give_number {
    width: 53%;
    height: auto; 
    top: 30%;
    transform: translateY(-220px);
    box-shadow: 1px 1px 44px 11px #0202029e;
    background-color: white;
}
#profileDropdown img {
    width: 23px;
    height: 23px;
    background: #b8c3d0;
    padding: 2px;
}

.searchResult{
    position: absolute;
    top: 85%;
    /*left: 18.2%;*/
    z-index: 2222;
}
.main-panel{
      background: #f3f3f3;
}